body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vetHeader {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
}


.vetHeaderImgOne {
  width: 12vw;
  height: 32vh;
  z-index: 1;
}

.vetHeaderImgTwo {
  width: 11vw;
  height: 24vh;
  z-index: 1;
}

.headerDiv{
  position: relative; 
  width: 100vw;
  height: 40vh;
  background: url("/images/vetrevheader.jpg") no-repeat bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerDivInfo {
  width: 40vw;
}

.petHeaderDivInfo {
  text-align: center;
  width: 43vw;
}

.newVetHeader {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.newVetHeaderImgOne {
  width: 14vw;
  height: 24.5vh;
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari 3-8 */
  transform: rotate(-2deg);
  z-index: 1;
}

.newVetHeaderImgTwo {
  width: 15vw;
  height: 20vh;
  z-index: 1;
}

.newVetFormImgOne {
  width: 15vw;
  height: 35vh;
  transform: rotateY(180deg);
  margin-left: -15vw;

}

.newVetHeaderDiv{
  position: relative; 
  width: 100vw;
  height: 60vh;
  background: url("/images/newvetheader.jpg") no-repeat bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.petHeader {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.petHeaderImgOne {
  width: 18vw;
  height: 30vh;
  z-index: 1;
}

h1{
  text-align: center;
  color: #d1bc8e;
  font-size: 60px;
}

h3{
  text-align: center;
  color: #d1bc8e;
  font-size: 30px;
}

h4{
  text-align: center;
  color: #d1bc8e;
}

.linkToReview:hover{
  text-decoration: none;
}

.vetLogo{
  width: 300px;
  margin-bottom: 20px;
}

.vetParentDiv{
  display: flex;
  justify-content: center;
}

.vetDiv{
  border-width: 2px;
  width: 60%;
  margin: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 5px gray;
}

.vetDivLogo{
  text-align: center;
  width: 40%;
}


.vetDivInfo{
  text-align: center;
  width: 40%;
}


.vetFormChildDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.newVetFormImg{
  width: 20%;
  
}

.newVetFormInfo{
  font-size: 16px;
  width: 40%;
}

.newVetForm{
  width: 30%;
  font-size: 20px;
  padding: 20px;
  line-height: 150%;
  display: inline-block;
}


.newVetSubmit{
  text-decoration: none;
  outline: none;
  color: black;
  font-size: 14px;
}

.newVetSubmit:hover{
  color: #d1bc8e;
}


.newPetFormDiv{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

.updateVetFormDiv{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

.newVetFormDiv{
  width: 60%;
}

.petVetUpdateButton{
  width: 8vw;
  border-radius: 28px;
  font-size: 14px;
  margin-left: 1%;
  outline: none;
}

.petVetUpdateButton:hover{
  background: #d1bc8e;
  color:white;
}

.petVetDeleteButton{
  width: 8vw;
  border-radius: 28px;
  font-size: 14px;
  margin-left: 31%;
  outline: none; 
}


.petVetDeleteButton:hover{
  background:red;
  color: white;
}


.petLogo{
  height: 15vh;
  
}

.petParentDiv{
  display: flex;
  justify-content: center;
}

.petDiv{
  border-width: 2px;
  width: 50%;
  margin: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 2px gray;
}

.petDivLogo{
  text-align: center;
}

.petDivInfo{
  width: 40%;
}