body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vetLogo{
  width: 225px;
}

.vetParentDiv{
  display: flex;
  justify-content: center;
}

.vetDiv{
  border: solid;
  width: 80%;
  margin: 20px;
}

.petLogo{
  width: 225px;
}